/*
    Author: Kendrick Davis
    Date: 11/1/22
 */

 * {
    font-family: Champagne, cursive;
}

article, aside, figcaption, figure,
footer, header, main, nav, section {
    display: block;
}

address, article, aside, blockquote, body, cite,
div, dl, dt, dd, em, figcaption, figure, footer,
h2, h3, h4, h5, h6, header, html, img,
li, main, nav, ol, p, section, span, ul {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
    background-color: rgb(45, 58, 87);
}

body {
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(20, 20, 20) 20px 0px 20px,  rgb(20, 20, 20) -20px 0px 20px,
    inset rgb(10, 10, 10) 0px 0px 10px;
    border-left: 3px solid rgb(20, 20, 20);
    border-right: 3px solid rgb(20, 20, 20);
    min-height: 100%;
    margin: 0px auto;
    min-width: 320px;
    max-width: 1020px;
    width: 100%;
}

#logoimg {
    float: left;
}

header h6 {
    width: 100%;
    font-size: 6em;
    background-image: url("shoe2.png");
    padding: 8px;
    border-top: 5mm solid black;
    box-shadow: inset  -5px 10px 0px rgb(0, 0, 0);
    border-bottom: 7mm solid black;
    border-left: 1mm solid black;
    color: rgba(0, 0, 0, 0);
}

.navbar{
    background-color: rgb(67,110,209);
    list-style-type: none;
    margin: 0;
    padding: 5px;
    border-top: 1mm solid black;
    box-shadow: inset 0 5px 15px 0px rgba(0, 0, 0, 0.75);
    text-align: center;
    width: 100%;
    overflow: hidden; 
    font-size: 1.5em;
}
.navbar a{
    font-weight: bold;
    color: black;
    width: 100%;
    text-decoration: none;
    float: left;
    padding: 5px;
    width: 14.89%;
    text-align: center;
}
.subnav{
    font-weight: bold;
    color: black;
    width: 100%;
    text-decoration: none;
    float: left;
    padding: 5px;
    width: 14.89%;
    text-align: center;
    margin-top: -5px;
}
.subbut{
    font-weight: bold;
    color: black;
    width: 100%;
    text-decoration: none;
    float: none;
    padding: 5px;
    width: 100%;
    text-align: center;
    background-color: transparent;
    border:none;
    font-size: 1em;
}

.navbar #a1:hover, .subnav:hover .subbut{
    background-color: #f62f5e;
    color:#fff;
    text-decoration: none;
    border-radius: 30px;
    padding: .20em 0.2em;
}

.content {
   display: none;
   position:absolute;
   background-color: blue;
   width: 20%;
   text-align:left;
   cursor: pointer;
   border-radius: 30px;
}

.content #p1{
    color: white;
    text-decoration: none;
    margin-left: 40px;
}
.content #p1 a{
    color: white;
    text-decoration: none;
    margin-top: -5px;
}
.content #p1:hover{
    background-color: #f62f5e;
    color:black;
    border-radius: 10px;
    width: 85%;
}
.subnav:hover .content{
    display:block;
    white-space: nowrap;
    font-size: 0.7em
}
.subnav:hover{
    text-decoration: none;
}

.searchbar input {
    float: none;
    width: 60%;
    display: block;
    margin: 5px auto;
    padding: 12px 20px;
    box-sizing: border-box;
    font-size: 1.0625em;
}

.searchbar button {
    float: right;
    padding: 6px 10px;
    margin-top: -46px;
    margin-right: 100px;
    font-size: 1.0625em;
    cursor: pointer;
}

.picture img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

h1 {
    font-size: 2.3em;
    padding-top: 5px;
    padding-left: 5%;
}

.row {
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
}

.column {
    flex: 33.33%;
    padding: 5px;
}

footer {
    clear: both;
    border-top: 1mm solid black;
    box-shadow: inset 0 5px 15px 0px rgba(0, 0, 0, 0.75);
    background-color: rgb(67, 110, 209);
    font-size: 0.9em;
    padding: 10px 0px;
    text-align: center;
}