/*
    Smart Shoes Search Page CSS
    Author: Logan Fontenot
    Date:   11/2/22  

    Filename: seachPage.css
*/

html {
    /*background-color: rgb(45, 58, 87);*/
    /*background-color: rgb(67, 110, 209);*/
    background-color: rgb(45, 58, 87);
}

body {
    background-color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Arial, sans-serif; 
    background-color: white;
    box-shadow: rgb(20, 20, 20) 20px 0px 20px,  rgb(20, 20, 20) -20px 0px 20px,
                inset rgb(10, 10, 10) 0px 0px 10px;
    border-left: 3px solid rgb(20, 20, 20);
    border-right: 3px solid rgb(20, 20, 20);
    min-height: 100%;  
    margin: 0px auto;
    min-width: 320px;
    max-width: 1020px;  
    width: 100%;
}

header {
    border-bottom: 1px solid rgb(0, 0, 0);
    color: white;
}

header nav ul {
    background-color: rgb(67, 110, 209);
    list-style-type: none;
    margin: 0;
    padding: 5px;
}

header nav ul li {
    font-size: 1.2em;
    line-height: 2.3em;
    display: inline;
    height: 2.3em;
    padding: 0 10px;
}

header nav ul li a {
    font-weight: bold;
    color: black;
    width: 100%;
    text-decoration: none;
}

header nav ul li a:hover {
    color: red;
    text-decoration: underline;
}

